// Variables

@gutter_width: 40px;
@columns: 12;
@gridsystem_width: @columns * 1px;
@padding: @gutter_width*0.5;

// grid | row

.row(@padding:0){
  display:block;
  clear: both;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// grid | column

.column(@x, @padding:@padding, @columns:@columns){
  display: inline;
  float: left;
  width: 100%*(@x / @columns);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@media (min-width : 768px) {

  .opc {
    position:relative;
    overflow:hidden;

    .buttons-set .please-wait {
      position:absolute;
      z-index:99;
      top:10%;
      left:50%;
      margin:-80px 0 0 -146px;
      padding:30px;
    }
    li.section { display:inline; }
  }

  .opc .step {
    position:absolute;
    border: none;
    padding: 0;
    width: 100%;
    top:110px;
    left:0;
    z-index:1;
  }
  .opc:first-of-type .step{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
  .opc:first-of-type .step[style*='display:none;'],
  .opc:first-of-type .step[style*='display: none;']{display:block !important;}
  .opc:first-of-type .section .step{left: 100%;}
  .opc:first-of-type .allow .step{left: -100%;}
  .opc:first-of-type .active .step{left:0;}
  .opc:first-of-type li:last-child .step-title a{width:50%}
  .opc:first-of-type li:first-child .step-title a{width:50%;left:50%}

  //Title
  .opc .active .step-title,
  .opc .allow .step-title,
  .opc .step-title {
    .column (2) !important;
    opacity: 1 !important;
    text-align:center;


    h2 {
      width:100%;
      text-align:center;
      font-size:12px;
      clear:both;
    }
    .number {
      display:block;
      margin:0 auto;
      margin-bottom:10px;
      background:#ccc;
      width:30px;
      height:30px;
      line-height:30px;
      border-radius:20px;
    }
    a { display:none; }
  }
  //title allow
  .opc .allow .step-title { cursor: pointer; }
  .opc .allow .step-title .number { }
  .opc .allow .step-title h2 {}

  //title active
  .opc .active .step-title {cursor:default; z-index:2; }
  .opc .active .step-title .number {}
  .opc .active .step-title h2 { }


  .opc .form-list .field,
  .opc .form-list .wide { margin: 0; }

  .opc .form-list li fieldset { margin-bottom:40px; }
  .opc .form-list label { padding:4px 0 0; }

  .opc .form-list li.fields {
    .column (6);
    .field, .wide{
      width: 100%;
      padding: 0;
      position: relative;
    }
  }

  .opc .form-list li.wide {
    .row(@padding:15px);
  }
  .opc .form-list div.fields { width:100%; overflow:hidden; margin:0 0 8px; }


  .opc form .form-list li.wide { margin-bottom:8px; }
  .opc form .address-select { margin:8px 0 40px; }

  .block-progress .block-title { background:none; margin:0 0 34px; padding:0; }
  .checkout-onepage-index .col-main { padding:0; border:0; }
  .checkout-onepage-index .page-title { padding-right:40px; width:auto; }
  .checkout-onepage-index .page-title h1 { background:none; padding:0; }

  #opc-login {
    .col-1 {
      .column (6);
    }
    .col-2 {
      .column (6);
      form fieldset h4 { display:none; }
      fieldset { width:300px; }
      .input-box {margin:0;}
      .validation-advice {position: relative;}
    }
    p.required { display:none;}
  }


  // FiX for RWD template
  .checkout-onepage-index .col1-layout .col-main {width: 100%;}

}

